<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj.mapper.BlogInfoMapper">
    <select id="queryAll" resultType="com.bj.pojo.BlogInfo">
        select id,title,content,writer,createdate as createDate from blog_info order by createDate asc
    </select>

    <select id="queryByTitle" resultType="com.bj.pojo.BlogInfo">
        select id,title,content,writer,createdate as createDate from blog_info
        <where>
            <if test="title!=null and title!=''">
                and title like concat('%',#{title},'%')
            </if>
        </where>
        order by createDate desc
    </select>


    <insert id="addcomment" parameterType="com.bj.pojo.BlogComment">
        insert into blog_comment(blogid,usercontent,author,createdate) value (#{blogInfo.id},#{usercontent},#{author},#{createDate})
    </insert>


    <insert id="addcontent">
        insert into blog_info(id, title, content, writer, createdate) value (#{id},#{title},#{content},#{writer},#{createDate})
    </insert>

    <delete id="deleteinfo" parameterType="com.bj.pojo.BlogInfo">
        delete from blog_info
        where id=#{id}
    </delete>
</mapper>